.work_title {
    text-align: center;
    text-transform: lowercase;
    text-transform: none;

    color: darkcyan;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;

    word-spacing: 0px;
    letter-spacing: 0px;

    position: inherit;

}

/*transiciones/transformaciones*/
.work_item:hover{
    transform: scale(2,2) !important;
    transition-duration: 2s;
}
